/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: rgb(255, 255, 242); 
}

/* STYLE TEXT */

.camo{
  color: rgb(255, 255, 242);
}
.font{
  font-size: 33px;
}

h1{
  margin-top: 30px;
  color: rgb(255, 130, 72);
  text-align: center;
  font-size: 75px;
  font-family: 'Fjalla One', sans-serif;
  border: solid rgb(255, 130, 72) 3px;
  padding-top: 10px;
  margin-right: 32%;
  margin-left: 32%;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

#homeh1 {
  transform: translate(0, 200px);
  margin-top: 0px;
  border: none;
  margin-left: 20%;
  margin-right: 20%;
}

.smaller {
  font-size: 55px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
  margin-right: 35%;
  margin-left: 35%;
}
#smaller {
  font-size: 65px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-right: 28%;
  margin-left: 28%;
}

@media screen and (max-width: 768px){
  h1{
    font-size: 60px;
  }
}

@media screen and (max-width: 768px){
  #homeh1{
    font-size: 55px;
  }
}

h3{
  text-align: center;
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 2%;
  margin-bottom: 30px;
  margin-right: 10%;
  margin-left: 10%;
  color: rgb(7, 48, 94);
}

.hugemargin{
  margin-bottom: 20px;
}

.heroimg{
  background-image: url("assets/foodtable.jpg");
  height: 464px;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 2%;
  margin-right: 25%;
  margin-left: 25%;
  color: rgb(7, 48, 94);
}

main{
  margin-bottom: 100px;
}

.margin{
  margin-left: 12%;
  margin-right: 12%;
  border: solid rgb(255, 130, 72) 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:20px;
  padding-right: 20px;
  margin-top: 45px;
}

#fact{
  color: rgb(255, 130, 72);
  font-size: 40px;
  margin-left: 20%;
  margin-right: 20%;
}






/* STYLE IMAGES */

.flexcontainer1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 125px;
}

.flexcontainer2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.flexitem{
  flex-basis: 100%;
  text-align: center;
}
#flexitem2{
  flex-basis: 100%;
  text-align: left;
}

#shrink{
  max-width: 530px;
  margin-left: 0;

}

.fleximg{
  max-height: 240px;
  border: solid rgb(255, 130, 72) 4px;
}

@media screen and (min-width:320px) and (max-width:768px){
  .flexcontainer1{
    flex-wrap: wrap;
  }
}
@media screen and (min-width:320px) and (max-width:768px){
  .flexcontainer2{
    flex-wrap: wrap;
  }
}
 

.action{
  text-align: center;
}
#action{
  text-align: center;
  margin-bottom: 40px;
}

/* STYLE NAV BAR */

ul {
  list-style-type: none;
  background-color: rgb(3, 19, 37);
  overflow: hidden;
  padding: 10px;
  display:flex;   /* says 'i want to use flexbox here' */
  justify-content: space-evenly;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: rgb(255, 255, 242);
  font-size: 1.7em;
  font-family: 'Fjalla One', sans-serif;
}

li a:hover {
  background-color: rgb(255, 130, 72);
}

/* STYLE BUTTONS */

.button {
  text-align:center;
  margin-top: 20px;
}

button {
  border: solid rgb(7, 48, 94) 4px;
  color: rgb(255, 130, 72);
  font-size: 40px;
  padding: 5px;
  background-color: rgb(255, 255, 242);
}

button:hover{
  background-color: rgb(255, 130, 72);
  color: rgb(3, 19, 37);
  border: solid rgb(7, 48, 94) 4px;
}

/* ADD MORE! */